<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>softlogicproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>newservlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filesign</display-name>
    <servlet-name>Filesign</servlet-name>
    <servlet-class>newservlet.Filesign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filesign</servlet-name>
    <url-pattern>/Filesign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>newservlet.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_in</display-name>
    <servlet-name>Sign_in</servlet-name>
    <servlet-class>newservlet.Sign_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_in</servlet-name>
    <url-pattern>/Sign_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filereg</display-name>
    <servlet-name>Filereg</servlet-name>
    <servlet-class>newservlet.Filereg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filereg</servlet-name>
    <url-pattern>/Filereg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sample</display-name>
    <servlet-name>sample</servlet-name>
    <servlet-class>newservlet.sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filelogin</display-name>
    <servlet-name>Filelogin</servlet-name>
    <servlet-class>newservlet.Filelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filelogin</servlet-name>
    <url-pattern>/Filelogin</url-pattern>
  </servlet-mapping>
</web-app>